.ChordsCol1 {
  text-transform: capitalize;
}


.ChordsItemNote {
  border-right: 1px solid #e1e1e1;
}

.ChordsOctaveNote {
  border-right: 1px solid #e1e1e1;
  padding: 0 !important;
  text-align: center;
}

.ChordsOctaveNote0 {
  font-weight: bold;
  font-size: 120%;
}

.ChordsOctaveNoteInner {
  display: block;
}

.ChordsOctaveNoteInner:hover {
  cursor: pointer;
  opacity: 0.6;
}
