.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 16px;
  color: white;
}

.App-header h2 {
  text-align: left;
  margin: 0;
}

.App-header p {
  text-align: left;
  margin: 8px 0 0 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
